*{
    box-sizing: border-box;
}

.airplane{
    margin: 50px auto;
    padding-bottom: 50px;
    max-width: 30%;
    background-color:#F1EFEF;
    border-radius: 50px;
    
   
}

.seatHeading{
    text-align: center;
    margin: 30px;
    font-size: 3.5rem;
    
}

.selectionControls{
   text-align: center;
   padding: 20px;
   background-color: #F1EFEF;
   margin: 0 35%;
   border-radius: 50px;
}

.subP{
padding: 10px;
}

.seatHeadingSub{
    height: 50px;
    position: relative;
    overflow: hidden;
    text-align: center;
    top: 70px;
    color: #192655;
    font-family: 'Permanent Marker', cursive;
}
  
.seats{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.Platinum_seat,
.Business_seat,
.Economy_seat {
  display: flex;
  flex: 0 0 14.28%;
  padding: 3px;
  position: relative;
  /* Add other styles as needed */
}



.classType{
    text-align: center;
    margin: 100px auto 50px auto;
}

/* Style for checkboxes in the seats */
.airplane .seats input[type=checkbox] {
    position: absolute;
    left: 10px;
    /* Add other styles as needed */
}


/* Style for checked checkboxes in the selected airplane model and class */
.airplane .seats input[type=checkbox]:checked + label {
    background: #656e65;
}


/* Platinum seat */

.Platinum_seat label{
    display: block;
    position: relative;
    width: 80px;
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
    line-height: 1.5rem;
    padding: 4px 0 ;
    background: #5bfc60;
    border-radius: 10px;
    color: black;
}

.Platinum_seat label:hover{
    cursor: pointer;
    box-shadow: 0 0 0px 2px green;
}


.Platinum_seat:nth-child(2){
    margin-right: 10%;
}

/* Business seat */

.Business_seat label{
    display: block;
    position: relative;
    width: 70px;
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
    line-height: 1.5rem;
    padding: 4px 0 ;
    background: #FF7676;
    border-radius: 10px;
    color: black;
}

.Business_seat label:hover{
    cursor: pointer;
    box-shadow: 0 0 0px 2px #FF4B91;
}

.Business_seat:nth-child(2){
    margin-right: 10%;
}

/* Economy seat */

.Economy_seat label{
    display: block;
    position: relative;
    width: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
    line-height: 1.5rem;
    padding: 4px 0 ;
    background: #64CCC5;
    border-radius: 10px;
    color: black;
}

.Economy_seat label:hover{
    cursor: pointer;
    box-shadow: 0 0 0px 2px #176B87;
}

.Economy_seat:nth-child(3){
    margin-right: 10%;
}

/*Button */

.btnContinue{
    position: relative;
    left: 58%;
    margin-bottom: 30px;
    
}