.background {
    font-family: sans-serif;
    margin: 0;
    background-image: url('images/plane4.jpeg'); /* Replace 'your-image-file.jpg' with the actual file name and path */
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents image repetition */
    background-attachment: fixed; /* Fixes the background image, so it doesn't scroll with the content */
    background-position: center center; /* Centers the image horizontally and vertically */
}

.signup{
    background-color:rgba(255, 255, 255, 0.5);
}

.input-icons i {
    position: absolute;
}

.mr-auto{
    margin-left: auto;
}

.search{
    background-color: rgb(3, 69, 148);
}

.gray-background{
    background-color: rgb(239, 239, 239);
}

/* Footer */

.py-5{
    padding: 30%;
    background-color: #001524;
    color: white;
}
.nav-item{
    color: #D0D4CA;
    font-size: 14px;
}
.nav-item:hover{
    color: #80B3FF;
}
.owner{
    background-color: #001524;
}

/* Register */

#regAll{
    margin: 5% 20%;
    
}
.information{
    padding: 5% 10%;
    background-color: #AED2FF;
    border-radius: 10px;
}
.subInfo{
    margin-bottom: 50px;
}
.col{
    padding-bottom: 20px;
}
.nameInfo{
    padding-bottom: 10px;
}
.submitBtn{
    float: right;
}

/* search */ 

.Search{
    color: white;
}
.heading{
    padding-bottom: 5%;
}
.form-group{
    padding-bottom: 15px;
}
.flighHeading{
    padding-top: 5%;
}

/* Home screen */
.headingFlight{
    padding: 7%;
}

#flight-search-form{
    padding: 0 20% 5%;
}
.allrow{
    margin-bottom: 50px;
    background-color:#AED2FF ;
    border-radius: 10px;
    padding: 10%;
}
.availableFlight{
    position: relative;
    left: 17%;
}

/*navBar */

.container-fluid{
    background-color: white;
    
}

.nav-link{
    color: red;
}